  <!--Cover image -->
  <div
  id="intro"
  class="bg-image"
  style="
    background-image: url('assets/images/img2.jpg');"
    >

  <div class="mask text-white h-100"> <!--Text color white-->
    <div class="container d-flex align-items-center" style="padding-top: 50vh"><!--Titles container-->
      <div class="text-center mx-auto" style="background-color: rgba(0, 0, 0, 0.5)"><!--Mask color-->
        <h1 class="text1 "><!--Title-->
          Nosotros
        </h1><!--Title-->
      </div><!--Mask color-->
    </div><!--Titles container-->
  </div><!--Text color white-->
</div> <!--Cover image-->

<br>
<br>

<!--section Quienes somos-->
<div class="container">
      <img class="rounded" src="assets/images/MDF_Sample.jpg" 
      style="width: 100%; min-width: 360px; max-width: 520px; float: left; margin-right: 1vw;"><!--Image-->
      <h3><!--Title Quienes somos-->
        Quienes somos
      </h3><!--Title Quienes somos-->
      <p class="justificado"><!--First parragraph-->
        La idea del negocio surge de la necesidad de la empresa por crear muebles propios para su venta en Vitromex, 
        esto con el objetivo de ser una empresa más independiente y ofrecer productos de calidad a los consumidores. 
        El nombre del negocio (SOLO) surge de la unión de los apellidos del dueño de la empresa (Solís) con el de su 
        esposa (López).
      </p><!--First parragraph-->
      <p class="justificado"><!--Second parragraph-->
        El negocio comenzó por la visión de unos estudiantes universitarios, los cuales propusieron los procesos 
        que se seguirían para hacer realidad la idea. Una de las principales propuestas fue el material a utilizar 
        para construir los muebles, siendo el material seleccionado mdf (fibropanel de densidad media), el cual 
        tiene las siguientes características:
      </p><!--Second parragraph-->
      
</div><!--Quienes somos-->

<div class="container">
  <h4><!--Subtitle-->
        MDF
      </h4><!--Subtitle-->
      <p class="justificado"><!--Third parragraph-->
        Los muebles de mdf melaminado ofrecen practicidad, funcionalidad y comodidad satisfaciendo las necesidades 
        que en el hogar son requeridas, de esta forma se ofrecen muebles de baños y cocinas integrales muy duraderos, 
        debido a que la melanina es un material resistente compuesto de mdf y película de recubrimiento que ofrece 
        una mejor vista y mejores acabados que pudieras encontrar en otro tipo de madera. La melanina que se utiliza 
        en cada uno de los muebles cuenta con un espesor de 15 mm, herrajes en jaladera y patas de acero inoxidable, 
        corredera telescópica ofreciendo una mayor durabilidad y funcionalidad en cada uno de los modelos fabricados. 
        Dentro de sus operaciones de fabricación pasan por proceso de enchapado en donde las piezas son perfiladas y 
        se les agrega un recubrimieno de pvc llamado canto de 1 mm de espesor y 1.9 cm de alto, sellando los lados de 
        cada una de las piezas para que estas no tengan contacto con la superficie que pueda dañar las piezas.
      </p><!--Third parragraph-->
</div>

<br>

<!--Filosofia-->
<div class="container">
  <h3 class="text-center">Filosofia</h3><!--Title-->
  <div class="accordion" id="accordionExample"><!--Accordion-->
    <div class="accordion-item"><!--Accordion Mision-->
      <h2 class="accordion-header" id="headingOne"><!--Accordion Mision header-->
        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
          Misión
        </button>
      </h2><!--Accordion Mision header-->
      <div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="headingOne" data-bs-parent="#accordionExample"><!--Accordion Mision content-->
        <div class="accordion-body">
          <p class="justificado">Somos un negocio comprometido a producir los mejores muebles de calidad los cuales se adapten a las necesidades y gustos de nuestros consumidores.</p>
        </div>
      </div><!--Accordion Mision content-->
    </div><!--Accordion Mision-->
    <div class="accordion-item"><!--Accordion Vision-->
      <h2 class="accordion-header" id="headingTwo"><!--Accordion Vision header-->
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
          Visión
        </button>
      </h2><!--Accordion Vision header-->
      <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample"><!--Accordion Vision content-->
        <div class="accordion-body">
          <p class="justificado">Para el 2026 la carpintería SOLO será 
            reconocida a nivel internacional por la calidad de nuestros 
            productos; expandiremos nuestra variedad de productos para 
            llegar a nuevos clientes potenciales.</p>
        </div>
      </div><!--Accordion Vision content-->
    </div><!--Accordion Vision-->
    <div class="accordion-item"><!--Accordion Valores-->
      <h2 class="accordion-header" id="headingThree"><!--Acordion Valores header-->
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
          Valores
        </button>
      </h2><!--Acordion Valores header-->
      <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample"><!--Accordion Valores content-->
        <div class="accordion-body">
          
          <ul><!--Valores list-->
            <li id="justificado"><b>Transparencia:</b> 
              Nuestros clientes pueden tener la confianza de que los 
              productos que se muestran serán los que ellos reciban.</li>

            <li id="justificado"><b>Pasión:</b> Nuestros productos son 
              hechos con dedicación y atención al detalle.</li>

            <li id="justificado"><b>Respeto:</b> Siempre damos un trato 
              digno a nuestros clientes, socios y amigos.</li>

            <li id="justificado"><b>Innovación y creatividad: </b>
              Constantemente actualizamos nuestras herramientas y diseños 
              para brindar a nuestros clientes la mejor calidad.</li>

            <li id="justificado"><b>Seguridad:</b> La seguridad de 
              nuestros empleados y clientes son prioridad, por lo que las 
              herramientas usadas y los diseños de los productos 
              están pensados para ello.</li>
              
          </ul><!--Valores list-->

        </div>
      </div><!--Accordion Valores content-->
    </div><!--Accordion Valores-->
  </div><!--Accordion-->
</div><!--Filosofia-->

<br>
<br>