  <!--Cover image -->
<div
  id="intro"
  class="bg-image"
  style="
    background-image: url('assets/images/img1.jpg');"
    >

<!--<h1 style="padding-top: 25vh;">Carpintería SOLO</h1>-->

  <div class="mask text-white h-100"> <!--Text color white-->
    <div class="container d-flex align-items-center" style="padding-top: 35vh"><!--Titles container-->
      <div class="text-center mx-auto" style="background-color: rgba(0, 0, 0, 0.5)"><!--Mask color-->
        <h1 class="text1"><!--Title-->
          Carpinteria SOLO
        </h1><!--Title-->
        <p class="text2" style="font-size: 4vw; font-family: 'Times New Roman', Times, serif;"><!--Subtitle-->
            Muebles hechos a la medida
        </p><!--Subtitle-->
      </div><!--Mask color-->
    </div><!--Titles container-->
  </div><!--Text color white-->
</div> <!--Cover image-->

<br>
<br>

<h1 class="text-center">Te ofrecemos</h1>
<!--Features-->
<div class="container">
  <div class="row">
    <!--Feature 1-->
    <div class="col-sm-6 col-md-4 col-lg-4 border-bottom border-top">
      <div class="row" id="feature">
        <div class="col text-center">
          <img src="assets/images/icons/paint.png" height="30px" width="30px" id="featicon">
          <h4>Diseños personalizados</h4>
        </div>
      </div>
      <div class="row justificado">
        <p>Realizamos los muebles que se ajusten a tus gustos y necesidades</p>
      </div>
    </div>
    <!--Feature 2-->
    <div class="col-sm-6 col-md-4 col-lg-4 border-bottom border-top">
      <div class="row" id="feature">
        <div class="col text-center">
          <img src="assets/images/icons/dollar.png" height="30px" width="30px" id="featicon">
          <h4>Presupuesto</h4>
        </div>
      </div>
      <div class="row justificado">
        <p>Adaptamos tus muebles a tu presupuesto, cotiza con nosotros</p>
      </div>
    </div>
    <!--Feature 3-->
    <div class="col-sm-6 col-md-4 col-lg-4 border-bottom border-top">
      <div class="row" id="feature">
        <div class="col text-center">
          <img src="assets/images/icons/medida.png" height="30px" width="30px" id="featicon">
          <h4>Muebles a la medida</h4>
        </div>
      </div>
      <div class="row justificado">
        <p>Nuestros muebles se adaptan a tu espacio, no importa que tan pequeño sea</p>
      </div>
    </div>
  <!--Feature 4-->
    <div class="col-sm-6 col-md-4 col-lg-4 border-bottom border-top">
      <div class="row" id="feature">
        <div class="col text-center">
          <img src="assets/images/icons/calendario.png" height="30px" width="30px" id="featicon">
          <h4>Decoraciones</h4>
        </div>
      </div>
      <div class="row justificado">
        <p>Fabricamos decoraciones de ocasión como esferas y grabados</p>
      </div>
    </div>
    <!--Feature 5-->
    <div class="col-sm-6 col-md-4 col-lg-4 border-bottom border-top">
      <div class="row" id="feature">
        <div class="col text-center">
          <img src="assets/images/icons/material.png" height="30px" width="30px" id="featicon">
          <h4>Materiales de calidad</h4>
        </div>
      </div>
      <div class="row justificado">
        <p>Nuestros muebles están hechos con MDF, lo que los hace prácticos y duraderos</p>
      </div>
    </div>
    <!--Feature 6-->
    <div class="col-sm-6 col-md-4 col-lg-4 border-bottom border-top">
      <div class="row" id="feature">
        <div class="col text-center">
          <img src="assets/images/icons/heart.png" height="30px" width="30px" id="featicon">
          <h4>Trabajo artesanal</h4>
        </div>
      </div>
      <div class="row justificado">
        <p>Muebles hechos a mano prestando atención a los detalles</p>
      </div>
    </div>
  </div>
</div><!--Features-->

<br>
<br>
<br>
<br>

<!--Video-->
<div class="container">
  <video src="assets/videos/solovideo.mp4" controls width="80%" height="auto" style="display: block; margin-left: auto; margin-right: auto;"></video>
</div><!--video-->

<br>
<br>
<br>
<br>

<!--Photo Gallery-->
<div class="photo-gallery bg-image" 
style="background-image: url('assets/images/bg.jpg'); padding-top: 2vh;" >
  <div class="container">
    <div class="intro">
      <h1 class="text-center" style="color: white;"><b>Nuestro trabajo</b></h1>
    </div>
    <div class="row photos">
      <!--First image-->
      <div class="col item">
        <div class="img-container">
          <a href="assets/images/tp1.jpg" data-lightbox="photos">
            <img class="rounded-circle border-bottom border-top" src="assets/images/tp1.jpg">
          </a>
        </div>
      </div><!--First image-->
      <!--Second image-->
      <div class="col item">
        <div class="img-container">
          <a href="assets/images/tp2.jpg" data-lightbox="photos">
            <img class="rounded-circle border-bottom border-top" src="assets/images/tp2.jpg">
          </a>
        </div>
      </div><!--Second image-->
      <!--Third image-->
      <div class="col item">
        <div class="img-container">
          <a href="assets/images/tp3.jpg" data-lightbox="photos">
            <img class="rounded-circle border-bottom border-top" src="assets/images/tp3.jpg">
          </a>
        </div>
      </div><!--Third image-->
    </div>
  </div>
  <!--Button Ver mas-->
  <div class="row" >
  <div class="col item" >
  <button type="button" class="btn btn-warning" routerLink="/trabajo" 
  style="display: block; margin-left: auto; margin-right: auto;"><h3>Ver mas</h3></button>
  </div>
  </div><!--Button Ver mas-->
</div><!--Photo Gallery-->
