<!--Cover image -->
<div
  id="intro"
  class="bg-image img-fluid"
  style="
    background-image: url('assets/images/img3.jpg');"
    >

  <div class="mask text-white h-100"> <!--Text color white-->
    <div class="container d-flex align-items-center" style="padding-top: 50vh"><!--Titles container-->
      <div class="text-center mx-auto" style="background-color: rgba(0, 0, 0, 0.5)"><!--Mask color-->
        <h1 class="text1 mb-5"><!--Title-->
          Nuestro trabajo
        </h1><!--Title-->
      </div><!--Mask color-->
    </div><!--Titles container-->
  </div><!--Text color white-->
</div> <!--Cover image-->

<br>
<br>

<!-- If you need to add a new element to the gallery, just add this 
code after the last element and change the href for the image location -->
<!-- <div class="col-sm-6 col-md-4 col-lg-3 item border">
  <div class="img-container ">
    <a href="assets/images/New-Image.jpg" data-lightbox="photos">
      <img class="img-thumbnail" src="assets/images/New-Image.jpg">
    </a>
  </div>
  <p class="text-center">Image title</p>
</div> -->

<!--Photo gallery catalogue-->
<div class="photo-gallery">
  <div class="container">
    <!--Photo gallery titles-->
    <div class="intro">
        <h1 class="text-center">Muebles de catalogo</h1>
        <p class="text-center">Nuestros muebles prediseñados</p>
    </div><!--Photo gallery titles-->
    <!--Photos-->
    <div class="row photos">
      <!--Mueble Greg-->
      <div class="col-sm-6 col-md-4 col-lg-3 item border">
        <div class="img-container ">
          <a href="assets/images/catalogo greg.jpg" data-lightbox="photos">
            <img class="img-thumbnail" src="assets/images/catalogo greg.jpg">
          </a>
        </div>
        <p class="text-center">Mueble de baño Greg</p>
      </div><!--Mueble Greg-->
      <!--Mueble mini-->
      <div class="col-sm-6 col-md-4 col-lg-3 item border">
        <div class="img-container">
          <a href="assets/images/catalogo mini.jpg" data-lightbox="photos">
            <img class="img-thumbnail" src="assets/images/catalogo mini.jpg">
          </a>
        </div>
        <p class="text-center">Mueble de baño Mini</p>
      </div><!--Mueble mini-->
      <!--Mueble Nano-->
      <div class="col-sm-6 col-md-4 col-lg-3 item border">
        <div class="img-container">
          <a href="assets/images/catalogo nano.jpg" data-lightbox="photos">
            <img class="img-thumbnail" src="assets/images/catalogo nano.jpg">
          </a>
        </div>
        <p class="text-center">Mueble de baño Nano</p>
      </div><!--Mueble Nano-->
      <!--Mueble Reni-->
      <div class="col-sm-6 col-md-4 col-lg-3 item border">
        <div class="img-container">
          <a href="assets/images/catalogo reni.jpg" data-lightbox="photos">
            <img class="img-thumbnail" src="assets/images/catalogo reni.jpg">
          </a>
        </div>
        <p class="text-center">Mueble de baño Reni</p>
      </div><!--Mueble Reni-->
      <!--Cocina Integral-->
      <div class="col-sm-6 col-md-4 col-lg-3 item border">
        <div class="img-container">
          <a href="assets/images/catalogo cocina integral.jpg" data-lightbox="photos">
            <img class="img-thumbnail" src="assets/images/catalogo cocina integral.jpg">
          </a>
        </div>
        <p class="text-center">Cocina integral</p>
      </div><!--Cocina integral-->

      <!-- If you need to add a new element, add the code here -->

    </div><!--Photos-->
  </div>
</div><!--Photo gallery catalogue-->

<!--Prueba-->
<div class="photo-gallery">
  <div class="container">
    <div class="intro">
        <h1 class="text-center">Trabajos personalizados</h1>
        <p class="text-center">Algunos de nuestros trabajos especiales</p>
    </div>
    <div class="row photos">
      <!-- Tocador personalizado -->
      <div class="col-sm-6 col-md-4 col-lg-3 item border">
        <div class="img-container">
          <a href="assets/images/tp1.jpg" data-lightbox="photos">
            <img class="img-thumbnail" src="assets/images/tp1.jpg">
          </a>
        </div>
        <p class="text-center">Tocador personalizado</p>
      </div> <!-- Tocador personalizado -->
      <!-- Ropero -->
      <div class="col-sm-6 col-md-4 col-lg-3 item border">
        <div class="img-container">
          <a href="assets/images/tp2.jpg" data-lightbox="photos">
            <img class="img-thumbnail" src="assets/images/tp2.jpg">
          </a>
        </div>
        <p class="text-center">Ropero</p>
      </div><!-- Ropero -->
      <!-- Tallado decorativo -->
      <div class="col-sm-6 col-md-4 col-lg-3 item border">
        <div class="img-container">
          <a href="assets/images/tp3.jpg" data-lightbox="photos">
            <img class="img-thumbnail" src="assets/images/tp3.jpg">
          </a>
        </div>
        <p class="text-center">Tallado decorativo</p>
      </div><!-- Tallado decorativo -->
      <!-- Cajas de regalos -->
      <div class="col-sm-6 col-md-4 col-lg-3 item border">
        <div class="img-container">
          <a href="assets/images/tp4.jpg" data-lightbox="photos">
            <img class="img-thumbnail" src="assets/images/tp4.jpg">
          </a>
        </div>
        <p class="text-center">Cajas de regalos</p>
      </div><!-- Cajas de regalos -->
      <!-- Cocina integral pequeña -->
      <div class="col-sm-6 col-md-4 col-lg-3 item border">
        <div class="img-container">
          <a href="assets/images/tp5.jpg" data-lightbox="photos">
            <img class="img-thumbnail" src="assets/images/tp5.jpg">
          </a>
        </div>
        <p class="text-center">Cocina integral pequeña</p>
      </div><!-- Cocina integral pequeña -->
      <!-- Cocina integral grande -->
      <div class="col-sm-6 col-md-4 col-lg-3 item border">
        <div class="img-container">
          <a href="assets/images/tp6.jpg" data-lightbox="photos">
            <img class="img-thumbnail" src="assets/images/tp6.jpg">
          </a>
        </div>
        <p class="text-center">Cocina integral grande</p>
      </div><!-- Cocina integral grande -->
      <!-- Mueble para TV -->
      <div class="col-sm-6 col-md-4 col-lg-3 item border">
        <div class="img-container">
          <a href="assets/images/tp7.jpg" data-lightbox="photos">
            <img class="img-thumbnail" src="assets/images/tp7.jpg">
          </a>
        </div>
        <p class="text-center">Mueble para TV</p>
      </div><!-- Mueble para TV -->

      <!-- If you need to add a new element, add the code here -->

    </div>
  </div>
</div>